################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/task1/.vs/task1/FileContentIndex
/.vs
/task1/.vs/task1/v17
/task1/x64/Debug
/task1/task1/x64/Debug
